@import url(../../vendor/bootstrap/css/bootstrap.min.css);
* {
  margin: 0;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.icon {
  border: 1px solid #fbb829;
  border-radius: 50%;
  padding: 8px;
  color: #fbb829;
  font-size: 0.8em;
  margin: 1.6px; }
  .icon:hover {
    background: #fbb829;
    color: #343435; }

i {
  color: #fbb829; }

.btn, .section-pricing .nav-panel-tabs li a.active {
  background: linear-gradient(to bottom, #ffe546 20%, #fbb829);
  padding: 8px 16px;
  border: 3px dashed #343435;
  border-radius: 16px;
  font-weight: bold;
  color: #343435;
  text-align: center; }
  .btn:hover, .section-pricing .nav-panel-tabs li a.active:hover {
    border: 3px solid #343435;
    cursor: pointer; }

/*--------------- Top Bar Styles
 ------------------------------------------*/
.top-bar-container {
  background: #343435; }

.top-bar {
  margin: 0 auto;
  color: #fff;
  display: flex;
  border-radius: 0 0 8px 8px;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
  padding: 8px; }
  .top-bar .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0; }
    .top-bar .contact-info .info-item {
      padding: 6.4px; }
      .top-bar .contact-info .info-item:hover {
        color: #fbb829; }

/*--------------- End Of Top Bar Styles ---------*/
/*--------------- Main Nav Bar Styles
 ------------------------------------------*/
.main-nav-container {
  background: linear-gradient(to right, #ffe546, #fbb829); }

.main-nav {
  text-transform: uppercase;
  font-size: 0.9em;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px; }
  .main-nav #navOpenBtn {
    font-size: 1.5em;
    color: #343435; }
  .main-nav #navCloseBtn {
    font-size: 1.5em;
    color: #fff;
    position: fixed;
    padding: 16px;
    top: 0;
    right: 0; }
  .main-nav .logo {
    max-width: 100px; }
  .main-nav .nav-items {
    font-size: 1.2em;
    list-style: none;
    display: flex; }
  .main-nav .navButtons {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 250px) {
      .main-nav .navButtons {
        order: 1;
        flex-basis: 100%; } }

/*--------------- End Of Nav Bar Styles ----------------------------*/
/*--------------- Section About EZ TAXI
 ------------------------------------------*/
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  section .section-heading {
    font-size: 2.5em; }
    section .section-heading:before {
      content: url("../../images/heading-before-img.png");
      padding: 16px; }
    section .section-heading:after {
      content: url("../../images/heading-before-img.png");
      padding: 16px; }
  section .section-detail {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center; }
    section .section-detail p {
      margin: 24px 16px; }

/*--------------- End Of Section About EZ TAXI----------------------------*/
/*--------------- Section Pricing
 ------------------------------------------*/
.section-pricing {
  background: linear-gradient(to right, #ffe546, #fbb829); }
  .section-pricing .nav-panel-tabs {
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-pricing .nav-panel-tabs li {
      font-weight: bold;
      font-size: 1.3em;
      margin: 8px 16px; }
  .section-pricing .card .card-body .btn-container {
    text-align: center; }

/*--------------- End Of Section Pricing----------------------------*/
/*--------------- Media Queries
 ------------------------------------------*/
@media (max-width: 599px) {
  .nav-items {
    background: #343435;
    color: #fff;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    padding: 0 16px;
    flex-wrap: wrap;
    transform: translateX(100%); }
    .nav-items li {
      margin: 16px 0; }
    .nav-items.open {
      transform: translateX(0); }

  .btn, .section-pricing .nav-panel-tabs li a.active {
    margin: 16px 0;
    order: 1;
    flex-basis: 100%; } }
@media (min-width: 600px) {
  .main-nav {
    flex-direction: column; }
    .main-nav .logo {
      max-width: 200px;
      margin-bottom: 16px; }
    .main-nav #navOpenBtn, .main-nav #navCloseBtn {
      display: none; }
    .main-nav .nav-items {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      .main-nav .nav-items li {
        padding: 8px; }
    .main-nav .navButtons {
      margin-top: 16px; } }
@media (min-width: 1099px) {
  .main-nav {
    max-width: 1000px;
    flex-direction: row;
    align-items: center; }
    .main-nav .logo {
      max-width: 200px; }
    .main-nav #navOpenBtn, .main-nav #navCloseBtn {
      display: none; }
    .main-nav .nav-items {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      .main-nav .nav-items li {
        padding: 8px; }
    .main-nav .navButtons {
      flex-basis: 100%;
      justify-content: flex-end; } }
@media (min-width: 400px) {
  .top-bar .contact-info {
    flex-direction: row; } }
@media (min-width: 599px) {
  .top-bar {
    flex-direction: row; } }
/*--------------- End Of Media  Queries
 ------------------------------------------*/

/*# sourceMappingURL=main.css.map */
