@import url(../../vendor/bootstrap/css/bootstrap.min.css);
body {
  font-size: 16px; }

* {
  margin: 0;
  font-family: "Exo 2" ,  sans-serif; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none; }

.icon {
  border: 1px solid #fbb829;
  border-radius: 50%;
  padding: 8px;
  color: #fbb829;
  font-size: 0.8em;
  margin: 1.6px; }
  .icon:hover {
    background: #fbb829;
    color: #343435; }

i {
  color: #fbb829; }

.btn {
  background: linear-gradient(to bottom, #ffe546 20%, #fbb829);
  padding: 4px 16px;
  border: 3px solid #808082;
  border-radius: 16px;
  font-weight: bold;
  font-size: 1.2em;
  color: #343435;
  text-align: center; }
  .btn:hover {
    border: 3px solid #343435;
    cursor: pointer;
    color: #343435; }
  .btn-sm {
    padding: 4px 16px;
    font-size: 0.8em;
    margin: 0 8px; }

/*--------------- Top Bar Styles
 ------------------------------------------*/
.top-bar-container {
  background: #343435; }

.top-bar {
  margin: 0 auto;
  color: #fff;
  display: flex;
  border-radius: 0 0 8px 8px;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between; }
  .top-bar .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .top-bar .contact-info .info-item {
      margin: 0 8px;
      display: flex;
      align-items: center; }
      .top-bar .contact-info .info-item i {
        margin: 0 4px; }
      .top-bar .contact-info .info-item:hover {
        color: #fbb829; }
  .top-bar .social-links {
    margin: 4.8px 0;
    display: flex;
    align-items: center; }

/*--------------- End Of Top Bar Styles ---------*/
/*--------------- Main Nav Bar Styles
 ------------------------------------------*/
.main-nav-container {
  background: linear-gradient(to right, #ffe546, #fbb829);
  position: relative; }
  .main-nav-container .header-strip {
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
    padding: 10px 0; }

.main-nav {
  text-transform: uppercase;
  font-size: 0.9em;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px; }
  .main-nav #navOpenBtn {
    font-size: 2em;
    color: #343435; }
  .main-nav #navCloseBtn {
    font-size: 2em;
    color: #fff;
    position: fixed;
    padding: 16px;
    top: 0;
    right: 0; }
  .main-nav .logo {
    max-width: 100px; }
  .main-nav .nav-items {
    font-size: 1.2em;
    list-style: none;
    display: flex; }
  .main-nav .navButtons {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 250px) {
      .main-nav .navButtons {
        order: 1;
        flex-basis: 100%; } }

/*--------------- End Of Nav Bar Styles ----------------------------*/
/*--------------- Main Slider
 ------------------------------------------*/
section .rev_slider {
  border-radius: 0 0 5px 5px;
  max-width: 1000px;
  margin: 0 auto;
  background: pink;
  height: 300px;
  overflow: hidden; }
  section .rev_slider .tp-bullet {
    background: #fbb829;
    border: 1px solid white; }
    section .rev_slider .tp-bullet.selected {
      background: black; }
  section .rev_slider .tparrows:before {
    color: white; }

/*--------------- End of Main Slider -----------------------------------*/
/*--------------- Section About EZ TAXI
 ------------------------------------------*/
/*--------------- End Of Section About EZ TAXI----------------------------*/
/*--------------- Section Pricing
 ------------------------------------------*/
/*--------------- End Of Section Pricing----------------------------*/
#owl-products {
  display: flex;
  flex-direction: row;
  background: red; }
  #owl-products .item {
    width: 100%; }

/*----------- Media querisFor Main nav bar
--------------------------------------------- */
@media (max-width: 599px) {
  .nav-items {
    background: #343435;
    color: #fff;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    padding: 0 16px;
    flex-wrap: wrap;
    transform: translateX(100%); }
    .nav-items li {
      margin: 16px 0; }
    .nav-items.open {
      transform: translateX(0); }

  .btn {
    margin: 16px 0;
    order: 1;
    flex-basis: 100%; } }
@media (min-width: 600px) {
  .main-nav {
    flex-direction: column; }
    .main-nav .logo {
      max-width: 200px;
      margin-bottom: 16px; }
    .main-nav #navOpenBtn, .main-nav #navCloseBtn {
      display: none; }
    .main-nav .nav-items {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      .main-nav .nav-items li {
        padding: 8px;
        font-weight: bold; } }
@media (min-width: 1099px) {
  .main-nav {
    max-width: 1000px;
    flex-direction: row;
    align-items: center; }
    .main-nav .logo {
      max-width: 200px; }
    .main-nav #navOpenBtn, .main-nav #navCloseBtn {
      display: none; }
    .main-nav .nav-items {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      .main-nav .nav-items li {
        padding: 8px; }
    .main-nav .navButtons {
      flex-basis: 100%;
      justify-content: flex-end; } }
/*----------- End of Media Query for Main nav bar
--------------------------------------------- */
/*--------------- Media Queries
 ------------------------------------------*/
@media (min-width: 400px) {
  .top-bar .contact-info {
    flex-direction: row; } }
@media (min-width: 599px) {
  .top-bar {
    flex-direction: row; } }
/*--------------- End Of Media  Queries
 ------------------------------------------*/

/*# sourceMappingURL=main.css.map */
