@import "../../vendor/bootstrap/css/bootstrap.min.css";
@import "partials/variables";
@import "partials/functions";


body{
    font-size: 16px;
}
*{
    margin: 0;
    font-family: "Exo 2" ,  sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    &:hover{
        text-decoration: none;
    }
}


.icon{
    border: 1px solid $primary-color;
    border-radius: 50%;
    padding: get-padding(1);
    color: $primary-color;
    font-size: 0.8em;
    margin: get-margin(0.2);
    &:hover{
        background: $primary-color;
        color: $text-color-primary;
    }
}
i{
    color: $primary-color;
}


.btn{
    background: $btn-background-color;
    padding: get-padding(0.5) get-padding(2);
    border: 3px solid lighten($dark,30%);
    border-radius: 16px;
    font-weight: bold;
    font-size: 1.2em;
    color: $text-color-dark;
    text-align: center;
    &:hover{
        border: 3px solid $text-color-primary;
        cursor: pointer;
        color: $text-color-dark;
    }

    &-sm{
        padding: get-padding(0.5) get-padding(2);
        font-size: 0.8em;
        margin: 0 get-margin(1);
    }
}






/*--------------- Top Bar Styles
 ------------------------------------------*/
.top-bar-container{
    background: $dark;
}
.top-bar{
    margin: 0 auto;
    color: $text-color-light;
    display: flex;
    border-radius: 0 0 8px 8px;
    flex-direction: column;
    max-width: $max-width;
    align-items: center;
    justify-content: space-between;
    .contact-info{
        display: flex;
        flex-direction: column;
        align-items: center;

        .info-item{
            margin: 0 get-margin(1);
            display: flex;
            align-items: center;
            i{
                margin: 0 get-margin(0.5);
            }
            &:hover{
                color: $primary-color;
            }
        }
    }
    .social-links{
        margin: get-margin(0.6) 0;
        display: flex;
        align-items: center;
    }
}
/*--------------- End Of Top Bar Styles ---------*/













/*--------------- Main Nav Bar Styles
 ------------------------------------------*/

.main-nav-container{
    background: $background-color-primary;
    position: relative;

    .header-strip {
        background-image: linear-gradient(45deg, rgb(0, 0, 0) 25%, transparent 25%, transparent 75%, black 75%, black),
        linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
        background-size: 20px 20px;
        background-position: 0 0, 30px 30px;
        padding: 10px 0;
    }
}
.main-nav{
    text-transform: uppercase;
    font-size: 0.9em;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: get-padding(2);
    #navOpenBtn{
        font-size: 2em;
        color: $text-color-primary;
    }
    #navCloseBtn{
        font-size: 2em;
        color: $text-color-light;
        position: fixed;
        padding: get-padding(2);
        top: 0;
        right: 0;
    }
    .logo{
        max-width: 100px;
    }

    .nav-items{
        font-size: 1.2em;
        list-style: none;
        display: flex;
    }

    .navButtons{
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 250px){
            order: 1;
            flex-basis: 100%;
        }
    }

}

/*--------------- End Of Nav Bar Styles ----------------------------*/








/*--------------- Main Slider
 ------------------------------------------*/
section .rev_slider{
    border-radius: 0 0 5px 5px;
    max-width: $max-width;
    margin: 0 auto;
    background: pink;
    height: 300px;
    overflow: hidden;
    .tp-bullet{
        background: $primary-color;
        border: 1px solid white;

        &.selected{
            background: black;
        }
    }
    .tparrows:before{
        color: white;
    }
}


/*--------------- End of Main Slider -----------------------------------*/



/*--------------- Section About EZ TAXI
 ------------------------------------------*/
//section{
//    width: 100vw;
//    height: 100vh;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
//
//    .section-heading{
//        font-size: 2.5em;
//        &:before{
//            content: url("../../images/heading-before-img.png");
//            padding: get-padding(2);
//        }
//        &:after{
//            content: url("../../images/heading-before-img.png");
//            padding: get-padding(2);
//        }
//
//    }
//
//    .section-detail{
//        max-width: $max-width;
//        display: flex;
//        align-items: center;
//        justify-content: center;
//
//
//        p{
//            margin: get-margin(3) get-margin(2);
//        }
//    }
//}

/*--------------- End Of Section About EZ TAXI----------------------------*/













/*--------------- Section Pricing
 ------------------------------------------*/
//
//.section-pricing{
//    background: $background-color-primary;
//
//    .nav-panel-tabs{
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        li{
//            font-weight: bold;
//            font-size: 1.3em;
//            margin: get-margin(1) get-margin(2);
//
//            a.active{
//                @extend .btn;
//            }
//        }
//    }
//    .card{
//        .card-body{
//
//            .btn-container{
//                text-align: center;
//            }
//        }
//    }
//}

/*--------------- End Of Section Pricing----------------------------*/



#owl-products{
    display: flex;
    flex-direction: row;
    background: red;

    .item{
        width: 100%;
    }
}











/*----------- Media querisFor Main nav bar
--------------------------------------------- */
@media (max-width: 599px) { // for nav bar
    .nav-items{
        background: $dark;
        color: $text-color-light;
        position: fixed;
        top: 0;
        //padding: get-padding(10) get-padding(4);
        align-items: center;
        justify-content: center;

        text-align: center;

        right: 0;
        flex-direction: column;
        height: 100vh;
        width: 80vw;
        padding: 0 get-padding(2);
        flex-wrap: wrap;
        li{
            margin: get-margin(2) 0;
        }
        transform: translateX(100%);

        &.open{
            transform: translateX(0);
        }
    }
    .btn{
        margin: get-margin(2) 0;
        order: 1;
        flex-basis: 100%;
    }
}

@media (min-width: 600px) { // for nav bar
    .main-nav{
        flex-direction: column;

        .logo{
            max-width: 200px;
            margin-bottom: get-margin(2);
        }

        #navOpenBtn, #navCloseBtn{
            display: none;
        }

        .nav-items{
            //background: none;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            //.btn{
            //    flex-basis: 100%;
            //}
            li{
                padding: get-padding(1);
                font-weight: bold;
            }
        }
        .navButtons{
        }
    }
}

@media (min-width: 1099px) { // for nav bar
    .main-nav{
        max-width: $max-width;
        flex-direction: row;
        align-items: center;

        .logo{
            max-width: 200px;
        }

        #navOpenBtn, #navCloseBtn{
            display: none;
        }

        .nav-items{
            //background: none;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            //.btn{
            //    flex-basis: 100%;
            //}
            li{
                padding: get-padding(1);

            }

        }
        .navButtons{
            flex-basis: 100%;
            justify-content: flex-end;
        }

    }
}
/*----------- End of Media Query for Main nav bar
--------------------------------------------- */










/*--------------- Media Queries
 ------------------------------------------*/
@media (min-width: 400px){
    .top-bar{
        .contact-info{
            flex-direction: row;

        }
    }

}

@media (min-width: 599px){
    .top-bar{
        flex-direction: row;
    }
}
/*--------------- End Of Media  Queries
 ------------------------------------------*/