
$background-color-secondary : #343435;
$background-color-primary: linear-gradient(to right, #ffe546 , #fbb829);
$background-color-btn: linear-gradient(to bottom, #ffe546 , #fbb829);

$primary-color: #fbb829;

$text-color-secondary : #fff;
$text-color-primary: #343435;