
$dark: #343435;
$background-color-primary: linear-gradient(to right, #ffe546 , #fbb829);
$btn-background-color: linear-gradient(to bottom, #ffe546 20%, #fbb829);

$primary-color: #fbb829;

$text-color-light: #fff;
$text-color-dark: #343435;
$text-color-primary: #343435;


$max-width : 1000px;